.navigator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 80%;
    height: 102px;
    transform: translateX(-50%);
    background: url(../images/navigator-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navigator-left {
    width: 28%;
    height: 100%;
}
.navigator-logo {
    position: absolute;
    top: -30px;
}

.navigator-right {
    width: 70%;
    height: 100%;
}

.navigator-text {
    width: 20%;
    font-size: 1em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-family: 'Forturn';
    color: #FFFFFF;
}

.navigator-text:hover {
    font-size: 2em;
}